@model Bookflix.Models.Libro

@{
    ViewData["Title"] = "Leyendo";
    ViewBag.ISBN = Model.ISBN;
}
@{
    ViewData["Title"] = "Detalles";
}

<h1 style="color: red;">Detalles</h1>


<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <p style="color: red;">@Html.DisplayNameFor(model => model.Portada)</p>
        </dt>
        <dd class = "col-sm-10">
            <img src="~/Images/@Model.Portada" width="100" height="128" asp-append-version="true">
        </dd>
        <dt class = "col-sm-2">
            <p style="color: red;">@Html.DisplayNameFor(model => model.Titulo)</p>
        </dt>
        <dd class = "col-sm-10">
            <p style="color: white;">@Html.DisplayFor(model => model.Titulo)</p>
        </dd>
        <dt class = "col-sm-2">
            <p style="color: red;">@Html.DisplayNameFor(model => model.Descripcion)</p>
        </dt>
        <dd class = "col-sm-10">
            <p style="color: white;">@Html.DisplayFor(model => model.Descripcion)</p>
        </dd>
        <dt class = "col-sm-2">
            <p style="color: red;">@Html.DisplayNameFor(model => model.Autor)</p>
        </dt>
        <dd class = "col-sm-10">
            <p style="color: white;">@Html.DisplayFor(model => model.Autor.Apellido)</p>
        </dd>
        <dt class = "col-sm-2">
            <p style="color: red;">@Html.DisplayNameFor(model => model.Genero)</p>
        </dt>
        <dd class = "col-sm-10">
            <p style="color: white;">@Html.DisplayFor(model => model.Genero.Nombre)</p>
        </dd>
        <dt class = "col-sm-2">
            <p style="color: red;">@Html.DisplayNameFor(model => model.Editorial)</p>
        </dt>
        <dd class = "col-sm-10">
            <p style="color: white;">@Html.DisplayFor(model => model.Editorial.Nombre)</p>
        </dd>

        @* PASAR A CISCO *@
        @if(ViewBag.PuedeVer)
        {
            <dt class="col-sm-2">
                <p style="color: red;">Calificacion</p>
            </dt>
            <dd>
                <div class="ec-stars-wrapper">
                    @for (int i = 1; i <= 10; i++)
                    {
                        @if(i <= ViewBag.Puntaje)
                        {
                            <a style="color: yellow;" asp-action="Calificar" asp-route-libroId="@Model.Id" asp-route-value="@i" title="Votar con @i estrellas">&#9733;</a>
                        }else{
                            <a asp-action="Calificar" asp-route-libroId="@Model.Id" asp-route-value="@i" title="Votar con @i estrellas">&#9733;</a>
                        }   
                    }
                </div>
                <noscript>Necesitas tener habilitado javascript para poder votar</noscript>
            </dd>
        }
        @* HASTA ACA *@
    </dl>
</div>
@* MOSTRAR TRAILER *@
@if(Model.TieneTrailer())
{
    <div>
        <a class="btn btn-secondary btn-sm" role="button" asp-controller="Trailer" asp-action="Details" asp-route-id="@Model.Id">Ver trailer</a>
    </div>
}
<hr>
<div>
    <a class="btn btn-primary" role="button" asp-controller="Libro" asp-action="Leer" asp-route-id="@Model.Id">Leer</a>

    @if (User.IsInRole("Administrador"))
    {
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> 
        @if((!Model.EstadoCompleto) && (Model.Contenido == null)){
             <a class="btn btn-primary" role="button" asp-controller="Capitulo" asp-action="Create">Agregar Capitulo</a>
        }
    }
    <a class="btn btn-danger" role="button" asp-controller="Libro" asp-action="Index">Cerrar Libro</a>
</div>

<form asp-controller="Libro" asp-action="Details" method="post">
    <div class="form-group">
        <textarea type="text" class="form-control" name="comentario" id="comentario" rows="3" placeholder="Escriba un comentario..."></textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Comentar</button>
</form>


