@model Bookflix.Models.Libro

@{
    ViewData["Title"] = "Leyendo";
}

<h1 style="color: red;">Detalles</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <p style="color: red;">@Html.DisplayNameFor(model => model.Portada)</p>
        </dt>
        <dd class = "col-sm-10">
            <img src="~/Images/@Model.Portada" width="100" height="128" asp-append-version="true">
        </dd>
        <dt class = "col-sm-2">
            <p style="color: red;">@Html.DisplayNameFor(model => model.Titulo)</p>
        </dt>
        <dd class = "col-sm-10">
            <p style="color: white;">@Html.DisplayFor(model => model.Titulo)</p>
        </dd>
        <dt class = "col-sm-2">
            <p style="color: red;">@Html.DisplayNameFor(model => model.Descripcion)</p>
        </dt>
        <dd class = "col-sm-10">
            <p style="color: white;">@Html.DisplayFor(model => model.Descripcion)</p>
        </dd>
        <dt class = "col-sm-2">
            <p style="color: red;">@Html.DisplayNameFor(model => model.Autor)</p>
        </dt>
        <dd class = "col-sm-10">
            <p style="color: white;">@Html.DisplayFor(model => model.Autor.Apellido)</p>
        </dd>
        <dt class = "col-sm-2">
            <p style="color: red;">@Html.DisplayNameFor(model => model.Genero)</p>
        </dt>
        <dd class = "col-sm-10">
            <p style="color: white;">@Html.DisplayFor(model => model.Genero.Nombre)</p>
        </dd>
        <dt class = "col-sm-2">
            <p style="color: red;">@Html.DisplayNameFor(model => model.Editorial)</p>
        </dt>
        <dd class = "col-sm-10">
            <p style="color: white;">@Html.DisplayFor(model => model.Editorial.Nombre)</p>
        </dd>
        <dt class="col-sm-2">
                <p style="color: red;">Calificacion Promedio</p>
        </dt>
        <dd class = "col-sm-10">
            <div class="ec-stars-wrapper">
                @for (int i = 1; i <= 5; i++){
                    @if(i <= ViewBag.Promedio)
                    {
                        <a style="color: yellow;" >&#9733;</a>
                    }else{
                        <a style="color: #888;">&#9733;</a>
                    }
                }
            </div>
            @if(ViewBag.Promedio != 0) {
                <p style="color: white;"> @ViewBag.Promedio / 5 </p>
            } else {
                <p style="color: white;"> Este libro aún no ha sido calificado. </p>
            }
            
        </dd>
        @if (ViewBag.PuedeVer){
        <dt class="col-sm-2">
            <p style="color: red;"> Mi Calificacion</p>
        </dt>
        <dd>
            
            <div class="ec-stars-wrapper">
                
                    @for (int i = 1; i <= 5; i++)
                    {
                        @if(i <= ViewBag.Puntaje)
                        {
                            <a style="color: yellow;" asp-action="Calificar" asp-route-libroId="@Model.Id" asp-route-value="@i" title="Votar con @i estrellas">&#9733;</a>
                        }else{
                            <a asp-action="Calificar" asp-route-libroId="@Model.Id" asp-route-value="@i" title="Votar con @i estrellas">&#9733;</a>
                        }   
                    }
                
            </div>
            <noscript>Necesitas tener habilitado javascript para poder votar</noscript>
        </dd>
        }

    </dl>
</div>
@* MOSTRAR TRAILER *@
@if(Model.TieneTrailer())
{
    <div>
        <a class="btn btn-secondary btn-sm" role="button" asp-controller="Trailer" asp-action="Details" asp-route-id="@Model.Id">Ver trailer</a>
    </div>
}
<hr>
<div>
    <a class="btn btn-primary" role="button" asp-controller="Libro" asp-action="Leer" asp-route-id="@Model.Id">Leer</a>

    @if (User.IsInRole("Administrador"))
    {
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> 
        @if((!Model.EstadoCompleto) && (Model.Contenido == null)){
             <a class="btn btn-primary" role="button" asp-controller="Capitulo" asp-action="Create">Agregar Capitulo</a>
        }
    }
    <a class="btn btn-danger" role="button" asp-controller="Libro" asp-action="DecisionTuya" asp-route-id="@Model.Id" >Cerrar Libro</a>
</div>
<hr>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a style="color: white;">Comentarios</a>
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

    @foreach (var item in Model.Perfil_Valora_Libros) 
        {
            <tr>
                    @if(item.Visible){
                        <td>
                            <a style="color: white;">@Html.DisplayFor(modelItem => item.Comentario)</a>
                        </td>
                    } else {
                        <td>
                        <p style="color: red;">Esta reseña tiene Spoiler. Haz 
                            <a asp-controller="Libro" asp-action="MostrarComentarioSpoiler" asp-route-lid="@item.LibroId" asp-route-pid="@item.PerfilId">click aquí</a> si desea verla igualmente.</p>
                        </td>
                    }
                <td>
                    <form asp-controller="Reportes" asp-action="Create" method="get">
                        <input type="hidden" name="idLibro" id="idLibro" value="@item.LibroId"/>
                        <input type="hidden" name="perfilId" id="perfilId" value="@item.PerfilId"/>
                        <button type="submit" class="btn btn-primary mb-2">Reportar</button>
                    </form>
                </td>
                 @if (item.PerfilId == ViewBag.Perfil)
                {
                    <td>
                        <a class="btn btn-warning" asp-controller="Libro" asp-action="BorrarComentarioPorUsuario" asp-route-lid="@item.LibroId" asp-route-pid="@item.PerfilId">Borrar comentario</a>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
   @if(Model.Perfil_Valora_Libros.Count() == 0){
        <div class="alert alert-danger" role="alert">
            ¡No se han realizado comentarios para este libro! 
        </div>
    }else if(Model.Perfil_Valora_Libros.Count() > 20){
        <button class="ir-arriba btn btn-dark btn-sm btn-block" type="button">Volver arriba</button>
}
        


<style>
    .pb-cmnt-container {
        font-family: Lato;
        margin-top: 100px;
    }
<<<<<<< HEAD

    .pb-cmnt-textarea {
        resize: none;
        padding: 20px;
        height: 130px;
        width: 100%;
        border: 1px solid #F2F2F2;
    }
</style>

