@model IEnumerable<Bookflix.Models.Libro>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color: #E50914;">LIBROS</h1>

@*Esto se agrego 17/7 de prueba, faltaria agregarlo en el Index*@
<hr>
<p style="color: white;">Criterio de ordenación</p>
<div class="btn-group" role="group" aria-label="Basic example">
  <a type="button" class="btn btn-secondary" name="options" asp-route-options="OrdenarTitulo" asp-controller="Libro" asp-action="OrdenarLista">Por Titulo</a>
  <a type="button" class="btn btn-secondary" name="options" asp-route-options="OrdenarAutor" asp-controller="Libro" asp-action="OrdenarLista">Por Autor</a>
  <a type="button" class="btn btn-secondary" name="options" asp-route-options="OrdenarGenero" asp-controller="Libro" asp-action="OrdenarLista">Por Género</a>
  <a type="button" class="btn btn-secondary" name="options" asp-route-options="OrdenarEditorial" asp-controller="Libro" asp-action="OrdenarLista">Por Editorial</a>
</div>
<hr>
@*Hasta aca*@
<div>
    <p style="color: white;">Criterio de búsqueda</p>
    <form asp-controller="Libro" asp-action="Index" >
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="options" value="BuscarTitulo" asp-action="Libro" asp-action="Index" checked> Buscar Titulo
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" value="BuscarAutor" asp-action="Libro" asp-action="Index"> Buscar Autor
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" value="BuscarGenero" asp-action="Libro" asp-action="Index"> Buscar Genero
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" value="BuscarEditorial" asp-action="Libro" asp-action="Index"> Buscar Editorial
            </label>
        </div>
        <hr>
        <input type="text" name="SearchString" placeholder="Buscar">
        <input class="btn btn-primary btn-sm" type="submit" value="Buscar" />
    </form>
</div>
@if(User.IsInRole("Administrador")){
    <br>
    <p>
        <a class="btn btn-danger" asp-action="Create" role="button">Crear Libro</a>
        @*ESTO NO ESTABA, es para crear libros con capitulos*@
        <a class="btn btn-danger" asp-action="CreateConCapitulos" role="button">Crear Libro Completo</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                <a style="color: white;">@Html.DisplayNameFor(model => model.Portada) </a>
            </th>
            <th>
                <a style="color: white;">@Html.DisplayNameFor(model => model.Titulo) </a>
            </th>
            <th>
                <a style="color: white;">@Html.DisplayNameFor(model => model.Descripcion)</a>
            </th>
            <th>
                <a style="color: white;">@Html.DisplayNameFor(model => model.Autor)</a>
            </th>
            <th>
                <a style="color: white;">@Html.DisplayNameFor(model => model.Genero)</a>
            </th>
            <th>
                <a style="color: white;">@Html.DisplayNameFor(model => model.Editorial)</a>
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/Images/@item.Portada" class="rounded-circle" width="40" height="40" asp-append-version="true">
            </td>
            <td>
                <a style="color: white;">@Html.DisplayFor(modelItem => item.Titulo)</a>
            </td>
            <td>
                <a style="color: white;">@Html.DisplayFor(modelItem => item.Descripcion)</a>
            </td>
            <td>
                <a style="color: white;">@Html.DisplayFor(modelItem => item.Autor.Nombre)</a>
            </td>
            <td>
                <a style="color: white;">@Html.DisplayFor(modelItem => item.Genero.Nombre)</a>
            </td>
            <td>
                <a style="color: white;">@Html.DisplayFor(modelItem => item.Editorial.Nombre)</a>
            </td>
            @if(User.IsInRole("Administrador")){
                @if(item.Contenido == null){ 
                    
                    @*ESTO ESTA PARA AGREGAR CAPITULOS*@
                    @if(!item.EstadoCompleto){
                        <td>
                            <a class="btn btn-danger btn-sm" asp-action="Create" asp-controller="Capitulo" asp-route-id="@item.Id">Agregar Capitulo</a>
                        </td>
                    }else{
                        <td></td>
                    }
                    <td >
                        <a class="btn btn-warning btn-sm" asp-action="EditConCapitulos" asp-route-id="@item.Id">Modificar</a> 
                    </td>   
                }else{
                    <td></td>
                    <td>
                        <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">Modificar</a> 
                    </td>
                }

                <td>
                @if(item.TieneTrailer()) // si tiene trailer lo tiene q poder fletear
                {
                    <a class="btn btn-secondary btn-sm" asp-action="Delete" asp-controller="Trailer" asp-route-id="@item.Id">Eliminar Trailer</a> 
                }
                else 
                {
                    <a class="btn btn-secondary btn-sm" asp-action="Create" asp-controller="Trailer" asp-route-id="@item.Id">Agregar Trailer</a>
                }
                </td>

                <td>
                    <a class="btn btn-secondary btn-sm" asp-action="VerComentarios" asp-controller="Libro" asp-route-id="@item.Id">Comentarios</a>
                </td>
                //fletar el libro
                <td><button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#modal-@item.Id">
                    Eliminar
                    </button>
                </td>

                <!-- Modal -->
                <div class="modal fade" id="modal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Eliminar "@item.Titulo"</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Estas seguro que quieres eliminar el libro?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <a type="button" class="btn btn-danger" asp-action="Delete" asp-controller="Libro" asp-route-id="@item.Id">Confirmar</a>
                    </div>
                    </div>
                </div>
                </div>
            }
        </tr>
}
    </tbody>
</table>
@if(Model.Count() == 0){
    <div class="alert alert-danger" role="alert">
        ¡No se encontraron libros! 
    </div>
}else if(Model.Count() > 3){
    <button class="ir-arriba btn btn-dark btn-sm btn-block" type="button">Volver arriba</button>
}


