@model IEnumerable<Bookflix.Models.Libro>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color: #E50914 ;">LIBROS</h1>

<div>
    <form asp-controller="Libro" asp-action="Index" >
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="options" value="BuscarTitulo" asp-action="Libro" asp-action="Index" checked> Buscar Titulo
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" value="BuscarAutor" asp-action="Libro" asp-action="Index"> Buscar Autor
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" value="BuscarGenero" asp-action="Libro" asp-action="Index"> Buscar Genero
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" value="BuscarEditorial" asp-action="Libro" asp-action="Index"> Buscar Editorial
            </label>
        </div>
        <hr>
        <input type="text" name="SearchString" placeholder="Buscar">
        <input class="btn btn-primary btn-sm" type="submit" value="Buscar" />
    </form>
</div>
<hr>

<div>
    <a class="btn btn-danger" asp-action="VerHistorial" asp-controller="Libro">Ver Historial</a>
</div>

<hr>

@if(ViewBag.Perfil.tieneFavoritos())
{
    <div>
        <p style="color: white; font-weight: bold;">Lista de Favoritos</p>
        <hr color="white" size="3"> 
    </div>
    <section id="main">
        <aside id="horizontal-scroll">
    @foreach (var item in Model) {
        @if(item.esFaveado(@ViewBag.Perfil.Id))
        {
            <article class="item">
                <div class="card text-center bg-dark m-3" style="width: 179px; height: 400px; float: left;">
                    <img src="~/Images/@item.Portada" class="card-img-top" width="179px" height="282">
                    <div class="card-body" style="color: grey;" >
                        <h5 class="card-title" style="color: white; font-size: medium;">@Html.DisplayFor(modelItem => item.Titulo)</h5>
                        <a class="btn btn-danger btn-sm" asp-action="Details" asp-route-id="@item.Id">Abrir Libro</a>
                        <a type="button" asp-controller="Libro" asp-action="QuitarFavorito" asp-route-id="@item.Id" title="Quitar de Favoritos">
                            <img src="~/Images/agregado.png">
                        </a>
                    </div>
                </div>
            </article>
        }
    }
        </aside>
    </section>
    <br>

    
}
<p style="color: white; font-weight: bold;">Libros</p>
    <hr color="white" size="3"> 
@* En caso de que no este faveado lo muestro en la lista de los libros  *@
@foreach (var item in Model) {
    @if(!item.esFaveado(@ViewBag.Perfil.Id)){
        <div class="card text-center bg-dark m-3" style="width: 179px; height: 400px; float: left;">
            <img src="~/Images/@item.Portada" class="card-img-top" width="179px" height="282">
            <div class="card-body" style="color: grey;" >
                <h5 class="card-title" style="color: white; font-size: medium;">@Html.DisplayFor(modelItem => item.Titulo)</h5>
                    <a class="btn btn-danger btn-sm" asp-action="Details" asp-route-id="@item.Id">Abrir Libro</a> 
                <a type="button" asp-controller="Libro" asp-action="AgregarFavorito" asp-route-id="@item.Id" title="Agregar a Favoritos">
                    <img src="~/Images/agregar.png" width="32px" height="32px">
                </a>
            </div>
        </div>
    }
}
@if(Model.Count() == 0){
    <div class="alert alert-danger" role="alert">
        ¡No se encontraron libros! 
    </div>
}else {
    <button class="ir-arriba btn btn-dark btn-sm btn-block" type="button">Volver arriba</button>
}


