@model Bookflix.Models.Libro

@{
    ViewData["Title"] = "Leyendo";
    ViewBag.ISBN = Model.ISBN;
}
@{
    ViewData["Title"] = "Detalles";
}

<h1 style="color: red;">Capitulos del Libro @ViewBag.Titulo</h1>
    <hr>
    <div class="btn-group-vertical">
    @foreach (var item in Model.Capitulos)
    {
        <a class="btn btn-danger btn-sm" role="button" asp-controller="Capitulo" asp-action="Leer" asp-route-id="@item.Id" >Capitulo @item.NumeroCapitulo</a>
    }
    <a class="btn btn-primary" role="button" asp-controller="Libro" asp-action="Details" asp-route-id="@Model.Id">Cerrar Libro</a>
    </div>
    <hr>
</div>
<div>
    @if (User.IsInRole("Administrador"))
    {
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> 
         @if((!Model.EstadoCompleto) && (Model.Contenido == null)){
             <a class="btn btn-primary" role="button" asp-controller="Capitulo" asp-action="Create">Agregar Capitulo</a>
        }
    }
    
</div>

