@model IEnumerable<Bookflix.Models.BookflixUser>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color: #E50914;">USUARIOS</h1>

<div>
    <form asp-controller="BookflixUser" asp-action="Index">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="options" value="BuscarEmail" asp-action="BookflixUser" asp-action="Index" checked> Buscar Email
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" value="BuscarNombre" asp-action="BookflixUser" asp-action="Index"> Buscar Nombre
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" value="BuscarApellido" asp-action="BookflixUser" asp-action="Index"> Buscar Apellido
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" value="BuscarDni" asp-action="BookflixUser" asp-action="Index"> Buscar Dni
            </label>
        </div>
        <hr>
        <input type="text" name="SearchString" placeholder="Buscar">
        <input class="btn btn-primary btn-sm" type="submit" value="Buscar" />
    </form>
</div>
<br>
<div>
    <a class="btn btn-dark btn-sm" asp-controller="Notificacion" asp-action="Notiglobal">Notificar a todos</a>
</div>
<br>
<table class="table">
    <thead>
        <tr>
            <th style="color: white;">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th style="color: white;">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th style="color: white;">
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th style="color: white;">
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th style="color: white;">
                Opciones</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    @if (item.Email != User.Identity.Name)
    {
        <tr>        
            <td style="color: white;">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td style="color: white;">
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td style="color: white;">
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td style="color: white;">
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
           
                @if (!item.Habilitado)
                {
                    <a class="btn btn-secondary btn-sm" asp-action="ToggleHabilitar" asp-route-id="@item.Id">Habilitar</a>
                }
                else
                {
                    <a class="btn btn-secondary btn-sm" asp-action="ToggleHabilitar" asp-route-id="@item.Id">Inhabilitar</a>
                }
                
                <td><button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#exampleModal">
                    Eliminar
                    </button>
                </td>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Eliminar a "@item.UserName"</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Estas seguro que quieres eliminar al usuario?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <a type="button" class="btn btn-danger" asp-action="Delete" asp-controller="BookflixUser" asp-route-id="@item.Id">Confirmar</a>
                    </div>
                    </div>
                </div>
                </div>
                <a class="btn btn-dark btn-sm" asp-action="CrearUnico" asp-controller="Notificacion" asp-route-id="@item.Id">Notificar</a>
            </td>
        </tr>
    } 
}
    </tbody>
</table>
