@model Bookflix.Models.Perfil_Valora_Libro
@{
    ViewData["Title"] = "Reporte";
    string autor = String.Format("{0} {1}", ViewBag.Libro.Autor.Nombre , ViewBag.Libro.Autor.Apellido);
}

<h1 style="color: #E50914;">Detalles del Comentario</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2" style="color: #E50914;">
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>
        <dd class = "col-sm-10" style="color: white;">
            @Model.Comentario
        </dd>
        <dt class = "col-sm-2" style="color: #E50914;">
            Realizado por
        </dt>
        <dd class = "col-sm-10" style="color: white;">
            @ViewBag.NombreUsuario
        </dd>
        <dt class = "col-sm-2" style="color: #E50914;">
            Motivo de reporte
        </dt>
        <dd class = "col-sm-10" style="color: white;">
            @ViewBag.Motivo
        </dd>
        <dt class = "col-sm-2" style="color: #E50914;">
            Titulo del libro
        </dt>
        <dd class = "col-sm-10" style="color: white;">
            @ViewBag.Libro.Titulo
        </dd>
        <dt class = "col-sm-2" style="color: #E50914;">
            Descripción 
        </dt>
        <dd class = "col-sm-10" style="color: white;">
            @ViewBag.Libro.Descripcion
        </dd>
        <dt class = "col-sm-2" style="color: #E50914;">
            Autor
        </dt>
        <dd class = "col-sm-10" style="color: white;">
            @autor
        </dd>
        <dt class = "col-sm-2" style="color: #E50914;">
            Editorial
        </dt>
        <dd class = "col-sm-10" style="color: white;">
            @ViewBag.Libro.Editorial.Nombre
        </dd>
        <dt class = "col-sm-2" style="color: #E50914;">
            Género
        </dt>
        <dd class = "col-sm-10" style="color: white;">
            @ViewBag.Libro.Genero.Nombre
        </dd>
    </dl>
</div>
<div>
    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#exampleModal">
        Borrar Comentario
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar comentario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estas seguro que quieres eliminar el comentario "@Model.Comentario"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mb-2" data-dismiss="modal">Cancelar</button>
                <form asp-controller="Reportes" asp-action="Delete" method="post">
                    <input type="hidden" name="id" id="id" value="@Model.LibroId"/>
                    <input type="hidden" name="perfilId" id="perfilId" value="@Model.PerfilId"/>
                    <button type="submit" class="btn btn-danger mb-2">Confirmar</button>
                </form>
            </div>
            </div>
        </div>
    </div>
    @if(Model.Spoiler)
    {    
            <a class="btn btn-danger btn-sm" role="button" asp-action="DesmarcarSpoiler" asp-route-pid="@Model.PerfilId" asp-route-libroId="@Model.LibroId" asp-route-rid="@ViewBag.IdReporte">No es Spoiler</a>
    }else{
            <a class="btn btn-danger btn-sm" role="button" asp-action="MarcarSpoiler" asp-route-pid="@Model.PerfilId" asp-route-libroId="@Model.LibroId" asp-route-rid="@ViewBag.IdReporte"> Marcar como Spoiler</a>
    }
    <a class="btn btn-warning btn-sm" role="button" asp-controller="Reportes" asp-action="Delete" asp-route-id="@ViewBag.IdReporte">Rechazar</a>
</div>

<hr>
<a class="btn btn-danger btn-sm" role="button" asp-controller="Reportes" asp-action="Index">Evaluar más tarde</a>
