@model Bookflix.Models.Reportes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reportes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LibroId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LibroId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroComentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroComentario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motivo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
